<div class="container my-5">
    <div class="card text-center border-0 shadow-sm">
       <div class="card-body p-5">
          <h1 class="display-4 mb-3">Where Every Frame Tells a Story :></h1>
          <p class="card-text text-muted">At Aperture, we specialize in transforming your footage into cinematic experiences. Our expert video editing and cinematography services are designed to capture the essence of your vision and bring it to life, frame by frame.</p>
          <a routerLink="/services" class="btn btn-dark btn-m">Explore Our Services</a>
       </div>
    </div>
 </div> 